<%= form_for([@location, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group row">
            <%= f.label :image, class: "col-sm-2 control-label" %>            
            <div class="col-sm-10">
              <% if @event.new_record? %>
                <div id="new-image" style="display:none;">
                  <div class="side-by-side-left">
                    <%= f.file_field :image, class: "form-control " %>
                    <p class="assistance">This will not replace your location default photo.</p>
                  </div>
                  <div class="side-by-side-right">
                    <a href='#' class="btn btn-primary" onclick="toggle_image('new-image');">Use Location Image </a>
                  </div>
                </div>            
                <div id="loc-image" style="display:inline;">
                  <%= image_tag(@location.image.url(:thumb), class:"img-responsive img-circle side-by-side-left" )%>
                  <div class="side-by-side-right">
                    <a href='#' class="btn btn-primary " onclick="toggle_image('loc-image');">Use New Image </a>
                  </div>
                </div>
              <% else %>            
                <div id="edit-new-image" style="display:none;">
                  <div class="side-by-side-left">
                    <%= f.file_field :image, class: "form-control " %>
                    <p class="assistance">This will not replace your location default photo.</p>
                  </div>
                </div>   
                <div id="current-image" style="display:inline;">
                  <%= image_tag(@event.image.url(:thumb), class:"img-responsive img-circle side-by-side-left" )%>
                  <div class="side-by-side-right">
                    <a href='#' class="btn btn-primary " onclick="toggle_image_edit('current-image');">Change Image</a>
                  </div>
                </div>          
              <% end %>
            </div>
        </div>
        <div class="form-group row">
          <%= f.label "Event Name", class: "control-label col-sm-2 " %>
          <div class="col-sm-10">
            <%= f.text_field :eventname, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label "Event Description", class: "control-label col-sm-2 " %>
          <div class="col-sm-10">
            <%= f.text_area :eventdesc, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label "Event Start", class: "control-label col-sm-2 " %>
          <div class="col-sm-6">
            <div class="input-group date" id="datetimepicker1">
              <%= f.text_field :eventstart, class: "form-control"  %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
           
          </div>     
        </div>
        <div class="form-group row">
          <%= f.label "Event End", class: "text-align-right col-sm-2 " %>
          <div class="col-sm-6">
             <div class="input-group date" id="datetimepicker2">
              <%= f.text_field :eventend, class: "form-control"  %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
            
          </div>
        </div>
        <div class="form-group row actions">
          <div class="col-sm-2"></div>
          <div class="col-sm-10" >
            <%= f.submit class: "btn btn-primary btn-primary-margin" %>
            <%= link_to 'Cancel', @location, class: "btn" %> 
          </div>
        </div> 
      </form>
    </div>
<% end %>
</div>

<script type="text/javascript">
 
  $(function () {
    var dateToday = new Date();
    dateToday.setDate(dateToday.getDate()-1);
      $('#datetimepicker1').datetimepicker({
        minuteStepping:15,
        minDate:dateToday
      }); 
      $('#datetimepicker2').datetimepicker({
        minuteStepping:15,
        minDate:dateToday
      });
  });

  function toggle_image(id) {
    document.getElementById(id).style.display = 'none';
    if(id == 'loc-image'){
      document.getElementById('new-image').style.display = 'inline';
    }
    else{
      document.getElementById('loc-image').style.display = 'inline';
    }
    return false;
}

function toggle_image_edit(id) {
    document.getElementById(id).style.display = 'none';
    if(id == 'current-image'){
      document.getElementById('edit-new-image').style.display = 'inline';
    }
    else{
      document.getElementById('current-image').style.display = 'inline';
    }
    return false;
}

</script>
 
