<div class="row">
	<h2><%= link_to @location.placename, @location %> > <%= @event.eventname %></h2>
</div>
<div class="container-full">
  <div class="logo-center-white-no-border">
      <div class="row">
      	<div class="col-md-4">
      		<%= image_tag(@event.image.url(:medium), class:"img-responsive img-rounded center-block" )%>
      	</div>
      	<div class="col-md-8">
      		<div>
      			<div class="side-by-side-left">
	      			<h2><%= @event.eventname %></h2>
	      			<h4>
	      				<%= @location.placename %>, <%= @location.address_1 %>, <%= @location.town %>
	      			</h4>
	      		</div>		
      		</div>
      		<div>
      			<%= @event.eventdesc %>
      		</div>
      		<div>
              <h3><%= @event.eventstart.strftime("%a, %b, %d, %Y %I:%M %p") %> - 
              </h3>
              <h3>
              	<%= @event.eventend.strftime("%a, %b, %d, %Y %I:%M %p") %>
              </h3>
              <p >     
              	(Time in <%= @event.eventstart.strftime("%Z") %>)
              </p>
              <%= link_to 'Edit Event', edit_location_event_path(@location,@event), class: "btn btn-primary " %> 
            </div>	
      	</div>
      </div>
  </div>
</div>


