    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= image_tag "best_time_logo_very_small.png" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to "Publishers", home_path%>
                    </li>
                    <li>
                        <%= link_to "About", about_path%>
                    </li>
                    <li>
                        <%= link_to "Contact Us", contact_path %> 
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
      <div class="intro-header">
        <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Plan better social events, faster.</h1><br />  
                      <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                              <%= image_tag "apple_appstore_comingsoon.png", alt: "BestTime iPhone App coming soon to app store", class:"img-responsive " %>

                            </li>
                            <li>
                                <%= image_tag "google_playstore_comingsoon.png", alt: "BestTime iPhone App coming soon to app store", class:"img-responsive " %>
                            </li> 
                          </ul> 
                        <hr class="intro-divider">                  
                      <h3 class="text-center-white">Here's your chance to be one of the first users!</h3><br />                      
                      <div class="custom-center">
                        <%= form_for(@beta_user) do |f| %>
                          <div class="custom-center muted">
                              <%= f.text_field :email, size: "35", placeholder: "Enter your email address" %>
                         
                            <%= f.submit "Sign Me Up", class: "btn btn-success" %>
                          </div>
                        <% end %>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <!-- /.intro-header -->
      <div class="content-section-b ">
        <div class="container">

            <div class="row">
                <div class="col-lg-12col-sm-12 custom-center">
                  <h1 class="muted">What is BestTime?<br /> </h1>
                  <br /><p class="lead">The secret to BestTime is sharing your free and busy time with your social network. Don't worry, we absolutely will not share the details of the events, unless you broadcast specific events. This information is already readily shared amongst friends when asked. But having to ask each other for this information is stopping great events from happening and dragging out the event planning process. We want to remove the text messages <i>"Hey are you guys free Friday night?" </i> and are creating a place to share this information with each other on-demand in the spirit of enabling more, better social events.</p>
                  <br />
                  <h2 class="muted">Make every social event the best time of your life!</h2> <br /> <br />
                </div>
            </div>
        </div>
      </div>
      <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="muted">Find the Best Time<br /> </h1>
                    <p class="lead">Avoid the back-and-forth trying to find the time that works for everyone. BestTime automates the process for you - saving you hours and sometimes days!</p>
                    <p class="lead">Schedule the event at the time that works for everyone.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <%= image_tag "DemoShot.png", alt: "Find BestTime feature to find the best time while scheduling a social event", class:"img-responsive center-block" %>
                </div>
            </div>

        </div>
        <!-- /.container -->
      </div>
      <!-- /.content-section-a -->
      <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="muted">Who Is Free<br /> </h1>
                    <p class="lead">No more mass texts or e-mails asking who is free. Quickly find out who's also free when you are.</p>
                    <p class="lead">Find friends who are also free, and schedule an event. Make the most of that free time for both of you.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <%= image_tag "Best-Time-AddCalPals-Demo-Shot.png", alt:"Finding who is free ensures that social events start with the right attendees", class:"img-responsive center-block"  %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="muted">Don't Miss Out on the Best Events<br /> </h1>
                    <p class="lead">See what's already happening to kick start your social life.  Add it to your calendar and invite your friends who are also free.</p>
                    <p class="lead">Or, tag along to already scheduled social events that are occurring in your social network. The more the merrier!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 col-sm-6">
                  <%= image_tag "Best-Time-WhatsHappening-Demo-Shot.png", alt: "Find BestTime feature to find the best time while scheduling a social event", class:"img-responsive center-block" %>
                </div>
            </div>

        </div>
        <!-- /.container -->
      </div>
      <!-- /.content-section-a -->
       <div class="logo-center-teal">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="text-white">Sync all your Calendars<br /></h1>                    
                    <p class="lead text-white">BestTime syncs with your Google Calendar, Facebook and iCal events. Your calendar will be up to date with all other events you already have scheduled.</p>   
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag "best-time-sync.png", alt: "BestTime syncs all of your calendars for accurate free and available times", class:"img-responsive center-block " %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <div class="logo-center-grey">
          <div class="row custom-center">
            <div class="col-md-12">
                  <h2 class="text-white">
                    Publish your business's calendar on BestTime <br /><br/><%= link_to "Learn More", home_path, class:"btn btn-lg btn-info" %>
                  </h2>
            </div>
          </div>
      </div>


</div>