<% content_for :head do %>
  <title>BestTime - Promote Events to Social Event Planners</title>
<% end %>

<div class="container-full">
	<div class="logo-center-teal">
		  <div class="row">
		  	<div class="col-md-12"> 
          		<h1 class="text-center-white">Promote Your Events to Social Event Planners</h1>
          		<br />
          	</div>
		  </div>
          <div class="row">
          	<div class="col-sm-4"> 
          		<%= image_tag "calendar.png", alt: "Find ", class:"img-responsive center-block" %>
          		<br /><h4 class="text-center-white">Upload your calendar of events to BestTime</h1>
          	</div>
          	<div class="col-sm-4"> 
          		<%= image_tag "best-time-phone-b.png", alt: "Find ", class:"img-responsive center-block" %>
          		<br /><h4 class="text-center-white">Users will find your events when planning events with their friends</h1>
          	</div>
          	<div class="col-sm-4"> 
          		<%= image_tag "thumbs-up.png", alt: "Find ", class:"img-responsive center-block" %>
          		<br /><h4 class="text-center-white">Customers have the best time at your event.</h1>
          	</div>
          </div>
  		  <div class="row custom-center">
		  	<div class="col-md-12"> 
		  		<br />
		  		<% if user_signed_in? %> 
		        	<%= link_to "Manage Calendars!", locations_path, class:"btn btn-lg btn-info" %>
		        <% else %>
		        	<%= link_to "Get Started!", new_user_registration_path, class:"btn btn-lg btn-info" %>
		        <% end %>
          		<br />
          	</div>
		  </div>
         </div>
         <div class="logo-center-white">
          <div class="row">
              <div class="col-md-6">
                    <%= image_tag "Create-Event.png", alt: "Find ", class:"img-responsive center-block" %>
               </div>
               <div class="col-md-6">
                    <h1 class="">Add Your Events to BestTime</h1>
                    <br />
                    <h3 class="muted">You shouldn't need an IT department just to update your calendar. And you don't! Adding events is simple.</h3>
               </div>
          </div>
         </div>
         <div class="logo-center-white">
          <div class="row">
              <div class="col-sm-8">
                    <h1 class="text-center">Publish it on the BestTime App</h1>
                    <br />
                    <h3 class="muted">With the click of a button, events are now on BestTime for event and activity seekers to find.</h3>
                    <br />
                    <h3 class="muted">And your events are smart. We match users with similar events to others they or their friends have gone to.</h3>
               </div>
               <div class="col-sm-4">
                    <%= image_tag "Event-on-BestTimeApp.png", alt: "Find ", class:"img-responsive center-block hidden-xs img-rounded " %>
                    <%= image_tag "Event-on-BestTimeApp-sm.png", alt: "Find ", class:"img-responsive center-block  hidden-md hidden-lg hidden-sm img-rounded" %>
               </div>
          </div>
         </div>
         <div class="logo-center-teal">
          <div class="row custom-center">
               <div class="col-md-12"> 
                    <h1 class="text-center-white">What are you waiting for?</h1>
                    <br />
                    <% if user_signed_in? %> 
                    <%= link_to "Manage Calendars!", locations_path, class:"btn btn-lg btn-info" %>
                  <% else %>
                    <%= link_to "Get Started!", new_user_registration_path, class:"btn btn-lg btn-info" %>
                  <% end %>
                    <br />
               </div>
            </div>

     </div>

<script>
        ga('send', 'screenview', {
            'screenName': 'publishers'
        });

        //_gaq.push(['_trackPageview', 'publishers']);
</script>