
<%= form_for @location, :html => { :multipart => true }  do |f| %>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group row">
          <%= f.label :category, class: "control-label col-sm-2 " %>
          <div class="col-sm-10">
            <%= f.text_field :category, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
           <%= f.label "Time Zone", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.time_zone_select :timezone, nil, {}, {:class => 'selectpicker', 'data-style'=>'btn-primary'} %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label "Business Name", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :placename, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label 'Location Address', class: "col-sm-2 control-label" %>
          <% if @location.new_record? %>
            <div class="col-sm-10">
              <input id="pac-input" type="text" placeholder="Search Places" class="form-control">
            </div>
          <% else %>
            <div class="col-sm-10">
              <input id="pac-input" type="text" value="Darren Enter it" class="form-control">
              <script> document.getElementById("pac-input").value = "Darren enter it");</script>
            </div>
          <% end %>          
        </div>

        <div style="display:none;">
          <div class="form-group row">
            <%= f.label :address_1, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :address_1, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
             <%= f.label :town, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :town, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
             <%= f.label :postcode, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :postcode, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
             <%= f.label :state, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :state, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
             <%= f.label :lat, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :lat, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
             <%= f.label :lng, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :lng, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group row">
           <%= f.label :image, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.file_field :image, class: "form-control" %>
            <p class="assistance">This will be used as your default event photo if one does not exist. 300x300 jpeg or png recommended.</p> 
          </div>
        </div>
        <div class="form-group row actions">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <%= f.submit class: "btn btn-primary btn-primary-margin" %>
          </div>
        </div> 
       </form>
      
     
    </div>
<% end %>
</div>

<script type="text/javascript">

  var ready;
  ready = function() {

      var input = document.getElementById('pac-input');
      var autocomplete = new google.maps.places.Autocomplete(input);
      $('.selectpicker').selectpicker();

      

      //autocomplete.bindTo('bounds', map);
      var place;

      google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        var address = '';
        var arrayLength = place.address_components.length;
        var zipCode = place.address_components[arrayLength-1].short_name;
        var country = place.address_components[arrayLength-2].short_name;
        var state = place.address_components[arrayLength-3].short_name;
        var city = place.address_components[arrayLength-5].short_name;

        var address = place.address_components[0].short_name + " " + place.address_components[1].short_name;

        var lat = place.geometry.location.lat();
        var lng = place.geometry.location.lng(); 

        document.getElementById("location_address_1").value = address;
        document.getElementById("location_town").value = city;
        document.getElementById("location_postcode").value = zipCode;
        document.getElementById("location_state").value = state;
        document.getElementById("location_lat").value = lat;
        document.getElementById("location_lng").value = lng;


      });

  };

  $(document).ready(ready);
  $(document).on('page:load', ready);

    // Address Autocomplete
    
    
    
    /* google.maps.event.addListener(autocomplete, 'place_changed', function() {
    place = autocomplete.getPlace();*/
  
</script>
