<% content_for :head do %>
  <title>BestTime - Manage Calendars</title>
<% end %>
<div class="panel panel-primary panel-primary-wide">
    <div class="panel-heading"><h2>Your Locations</h2></div>
    <div class="panel-body">



        <% @locations.each_slice(4)  do |location_three| %>

        <div class="row row-space">          
          <% location_three.each do|location| %>
            <% if location.user == current_user %>            
                <div class="col-md-3 col-xs-6">
                  <%= link_to location do %>
                    <div class="panel-cell">
                      <%= link_to image_tag(location.image.url(:thumb), class:"img-rounded panel-image"), location %>
                      <br />
                      <h3><%= link_to truncate(location.placename, :length => 17), location %></h3><br /> 
                      <%= location.address %><br />
                      <%= link_to 'Nearby Events', nearby_events_path(location: location.address) %>
                    </div>
                  <% end %>
                </div>              
            <% end %>
            <% if location == @locations.last %>
              <% if location_three.length != 4 %>
                <div class="col-md-3 col-xs-6">
                  <div class="panel-cell-dashed">
                      <%= image_tag "new_calendar.png", class:"panel-image-calendar" %><br /> <br />
                      <%= link_to 'New Location', new_location_path, class:"btn btn-primary" %>
                  </div>
                </div> 
              <% else %>
                </div>
                <div class="row row-space">  
                  <div class="col-md-3 col-xs-6">
                    <div class="panel-cell-dashed">
                      <%= image_tag "new_calendar.png", class:"panel-image-calendar" %><br /> <br />
                      <%= link_to 'New Location', new_location_path, class:"btn btn-primary" %>
                    </div>
                  </div> 
              <% end %> 
          <% end %>        
        <% end %> 
        </div>

    <% end %>

    </div>
</div>
<br>

