<div class="panel panel-primary panel-primary-wide">
    <div class="panel-heading"><h2>Your Locations</h2></div>
    <div class="panel-body">



        <% @locations.each_slice(3)  do |location_three| %>
        <div class="row">
          <% location_three.each do|location| %>
            <% if location.user == current_user %>            
                <div class="col-md-4">
                  <%= image_tag location.image.url(:thumb) %> <br />
                  <%= link_to location.placename, location %> <br /> 
                  <%= location.address_1 %>, <%= location.town %>
                </div>              
            <% end %>
          <% end %>
        </div>
        <% end %>
    </div>
</div>
<br>

<%= link_to 'New Location', new_location_path %>
