<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @location.category %>
</p>

<p>
  <strong>Placename:</strong>
  <%= @location.placename %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @location.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @location.address_2 %>
</p>

<p>
  <strong>Town:</strong>
  <%= @location.town %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @location.postcode %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
