<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:head) %>
  <%= content_for(:head) %>
  <% else %>
    <title>BestTime - Mobile App for Organizing Social Events</title>
  <% end %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="BestTime is a mobile app for planning great social events, faster. Instantly find the best time for a social event when all attendees are free. Or find out who else in your social network is free when you are, to schedule an event. And BestTime lets you know about the best events already happening in your area or social network.">
     <script>
        /*var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-51730342-2']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();*/
        function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51730342-2', 'auto');
        

</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "6dbb2f0e-7124-4346-a1ca-209d8e0fa394", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>

	<% if current_page?('/') %> 
	<% else %>
		<%= render 'layouts/header' %>
	<% end %>

	<%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
